<hr />
Upload preko angulara

<form ng-controler="DocumentController" enctype="multipart/form-data">
	<input type="file" name="file" file-input="files"/>
	<button ng-click="upload()">Upload</button>
</form>

<form class="form-horizontal" ng-init= "initDocument()" required>

    <div class="form-group">
        <label class="col-sm-2">Type of document</label>
        <div class="col-sm-6">
        <input  ng-model="document.name" class="form-control"/>
        </div>
    </div>
    
    <div class="form-group" hidden>
        <label class="col-sm-2">Path</label>
        <div class="col-sm-6">
            <input  ng-model="document.path" class="form-control"/>
        </div>
    </div>
    
    <div hidden="true" class="form-group">
        <div class="col-sm-6">
            <input hidden="true" value="{{ userId }}"  ng-model="document.studentID" class="form-control" />
        </div>
    </div>
    
    <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button ng-disabled="!document.name||!document.path" ng-click="saveDocument()" type="submit" class="btn btn-primary" >Save</button>
    </div>
  </div>
</form>



