<form class="form-horizontal" ng-init= "initObligation();getSubjects()" required>

    <div class="form-group">
        <label class="col-sm-2">Type</label>
        <div class="col-sm-6">
            <input  ng-model="obligation.obligationType" class="form-control" />
        </div>
    </div>
    
    <div class="form-group">
        <label class="col-sm-2">Date</label>
        <div class="col-sm-6">
            <input  ng-model="obligation.dateOfObligation" class="form-control" type="date"/>
        </div>
    </div>
    
    <div class="form-group">
        <label class="col-sm-2">Points</label>
        <div class="col-sm-6">
            <input type="number" min="0" max="100" ng-model="obligation.points" class="form-control"/>
        </div>
    </div>
    
    <div class="form-group">
        <label class="col-sm-2">Subject</label>
        <div class="col-sm-6">
            <select ng-model="obligation.subject"
				ng-options="subject as subject.name for subject in subjects">
				<option value="">Select type:</option>
			</select>
        </div>
    </div>
    
    <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button ng-disabled="!obligation.obligationType||!obligation.points||!obligation.subject" ng-click="saveObligation()" type="submit" class="btn btn-primary" >Save</button>
    </div>
  </div>
</form>