<table ng-init= "getStudentsNotInSubject();" class="table table-bordered" >
	<thead class="thead-inverse">
		<tr>
			<th>Last name</th>
			<th>Name</th>
			<th>Username</th>
			<th>JMBG</th>
			<th>Address</th>
			<th>Date of birth</th>
			<th>Gender</th>
			<th>Profile</th>
			<th>Add to subject</th>

		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="student in students">
			<td>{{ student.lastname }}</td>
			<td>{{ student.name }}</td>
			<td>{{ student.username }}</td>
			<td>{{ student.jMBG }}</td>
			<td>{{ student.address }}</td>
			<td>{{ student.dateOfBirth| date:'dd-MM-yyyy'}}</td>
			<td>{{ student.gender }}</td>
			<td>
				<a href="#/Students/profileOfStudent/{{ student.id }}" class="btn btn-xs btn-warning">See profile</a>
			</td>
			<td>
				<button ng-model="button" ng-click="addStudentToSubject(student)" class="btn btn-xs btn-success">Add to list</button>
			</td>

		</tr>
	</tbody>

</table>

<br><br><br>
	

      <table class="table">
    	<thead >
			<tr>
				<th>Name</th>
				<th>Last name</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="stud in tempSubject.students">
				<td>{{stud.name}}</td>
				<td>{{stud.lastname}}</td>
				<td>
					<button ng-model="button" ng-click="removeFromList(stud)" class="btn btn-xs btn-danger">Remove from list</button>
				</td>
	
			</tr>
		</tbody>

		
	  </table>
	  			<button  ng-click="addStudentsToSubject()" type="submit" class="btn btn-success" >Add all</button>
	  
 