<form class="form-horizontal" ng-init= "initPassword()" required>

    
    <div class="form-group">
        <label class="col-sm-2">New Password</label>
        <div class="col-sm-6">
            <input  ng-model="password.newPassword" class="form-control" type="password"/>
        </div>
    </div>
    
    <div class="form-group">
    	<label class="col-sm-2">Repeat new password</label>
        <div class="col-sm-6">
            <input ng-model="password.reapeatPassword" class="form-control" type="password"/>
        </div>
    </div>
    
    <div class="form-group" hidden>
        <div class="col-sm-6">
            <input  value="{{ userId }}"  ng-model="password.userID" class="form-control" />
        </div>
    </div>
    
    <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button  ng-click="savePassword()" type="submit" class="btn btn-primary" >Save</button>
    </div>
  </div>
</form>
