Filter by name username or last name:
<input type="text" ng-model="text">	
<button  ng-click=getAllProfessors()  class="btn btn-xs btn-info">Search</button>
<button  ng-click="text=null;getAllProfessors()" class="btn btn-xs btn-primary">Reset</button>
<table ng-init= "getAllProfessors()" class="table table-bordered" >
	<thead class="thead-inverse">
		<tr>
			<th>ID</th>
			<th>Last name</th>
			<th>Name</th>
			<th>username</th>
			<th>JMBG</th>
			<th>Address</th>
			<th>Date of birth</th>
			<th>Gender</th>
			<th>Title</th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="professor in professors">
			<td>{{ professor.id }}</td>
			<td>{{ professor.lastName }}</td>
			<td>{{ professor.name }}</td>
			<td>{{ professor.userName }}</td>
			<td>{{ professor.jmbg }}</td>
			<td>{{ professor.address }}</td>
			<td>{{ professor.dateOfBirth| date:'dd-MM-yyyy' }}</td>
			<td>{{ professor.gender }}</td>
			<td>{{ professor.title }}</td>
			<td>
				<button ng-model="button" ng-click="hideAlerts();deleteProfessor(professor.id)" class="btn btn-xs btn-danger">Delete</button>
			</td>
			<td>
				<a href="#/professors/edit/{{ professor.id }}" class="btn btn-xs btn-primary">Edit</a>
			</td>
						<td>
				<a href="#/professors/profileOfProfesors/{{ professor.id }}" class="btn btn-xs btn-warning">See profile</a>
			</td>
		</tr>
	</tbody>
</table>
<div ng-show="blueAlert" class="alert alert-success">
	<strong>Success  </strong> You have successfully deleted the professor {{deleted.name}} {{deleted.lastName}} . 
</div>
<div ng-show="redAlert" class="alert alert-danger">
	<strong>Greska!</strong> nije obrisano.
</div>
<a href="#/addOrUpdateProfessor" class="btn btn-success">Add new professor</a>
<button ng-model="button" style="margin-left: 20%" ng-click="hideAlerts();firstPage()"
	class="btn btn-xs btn-info">First page</button>
<button ng-model="button" ng-click="hideAlerts();previousPage()"
	class="btn btn-xs btn-info">Previous page</button>
	
	<button class="btn btn-xs btn-warning">{{pageNum}}</button>

<button ng-model="button" ng-click="hideAlerts();nextPage()"
	class="btn btn-xs btn-info">Next page</button>
<button ng-model="button" ng-click="hideAlerts();lastPage()"
	class="btn btn-xs btn-info">Last page ( {{pageNumMax}} )</button>