Filter by name username or last name:
<input type="text" ng-model="text">	
<button  ng-click=getAllStudents()  class="btn btn-xs btn-info">Search</button>
<button  ng-click="text=null;getAllStudents()" class="btn btn-xs btn-primary">Reset</button>

<table ng-init= "getAllStudents()" class="table table-bordered" >
	<thead class="thead-inverse">
		<tr>
			<th>ID</th>
			<th>Last name</th>
			<th>Name</th>
			<th>username</th>
			<th>JMBG</th>
			<th>Address</th>
			<th>Date of birth</th>
			<th>Gender</th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="student in students">
			<td>{{ student.id }}</td>
			<td>{{ student.lastName }}</td>
			<td>{{ student.name }}</td>
			<td>{{ student.userName }}</td>
			<td>{{ student.jmbg }}</td>
			<td>{{ student.address }}</td>
			<td>{{ student.dateOfBirth| date:'dd-MM-yyyy'}}</td>
			<td>{{ student.gender }}</td>
			<td>
				<button ng-model="button" ng-click="hideAlerts();deleteStudent(student.id)" class="btn btn-xs btn-danger">Delete</button>
			</td>
			<td>
				<a href="#/Students/edit/{{ student.id }}" class="btn btn-xs btn-primary">Edit</a>
			</td>
			<td>
				<a href="#/Students/profileOfStudent/{{ student.id }}" class="btn btn-xs btn-warning">See profile</a>
			</td>
		</tr>
	</tbody>
</table>
<div ng-show="blueAlert" class="alert alert-success">
	<strong>Success  </strong> You have successfully deleted the student {{deleted.name}} {{deleted.lastName}} . 
</div>
<div ng-show="redAlert" class="alert alert-danger">
	<strong>Greska!</strong> nije obrisano.
</div>
<a href="#/addOrUpdateStudent" class="btn btn-success">Add new student</a>
<button ng-model="button" style="margin-left: 20%" ng-click="hideAlerts();firstPage()"
	class="btn btn-xs btn-info">First page</button>
<button ng-model="button" ng-click="hideAlerts();previousPage()"
	class="btn btn-xs btn-info">Previous page</button>
	<button class="btn btn-xs btn-warning">{{pageNum}}</button>
<button ng-model="button" ng-click="hideAlerts();nextPage()"
	class="btn btn-xs btn-info">Next page</button>
<button ng-model="button" ng-click="hideAlerts();lastPage()"
	class="btn btn-xs btn-info">Last page ( {{pageNumMax}} )</button>